<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="/layui/layui.all.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<form class="layui-form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">昵称</label>
        <div class="layui-input-block">
            <input type="text" name="username" id="username" lay-verify="title" autocomplete="off" placeholder="请输入昵称" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">输入密码</label>
        <div class="layui-input-block">
            <input type="password" name="password" id="password" required  lay-verify="password" autocomplete="off" placeholder="请输入密码" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit"  class="layui-btn" lay-submit="" lay-filter="demo2">登录</button>
        </div>
    </div>
</form>
</body>
<script>
    layui.use(['layer', 'upload', 'element', 'form', 'layedit'], function () {
        var layer = layui.layer;
        var form = layui.form;
        var layedit = layui.layedit;
        form.render('radio');
        //创建一个编辑器
        //注册
        form.on('submit(demo2)', function (result) {
            var btn = $(this);
            console.log(result.field),

            //设置注册按钮不可点击，防止多次点击
            btn.text("提交中...").attr("disabled", "disabled").addClass("layui-disabled");
            var resp=null;
            $.ajax({
                url: "/login/submitLogin",
                //data:JSON.stringify(params),
                data: JSON.stringify(result.field),
                type: "post",
                dataType: "json",
                contentType:"application/json;charset=UTF-8",//必须
                success: function (res) {
                    btn.text("提交").attr("disabled", false).removeClass("layui-disabled");
                    console.log(res)
                    if (res.code == 200){
                        window.location.href="/page/list"
                    }
                },
            });
        })
    });
</script>
</html>