<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaoxi.GaoxiUser.mapper.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.gaoxi.GaoxiUser.domain.Article">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="imgId" jdbcType="VARCHAR" property="imgid" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="authorId" jdbcType="BIGINT" property="authorid" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
</mapper>